<div class="js-social-media social-media{{#if class}} {{class}}{{/if}}">
    {{#if @site.facebook}}
    <a class="godo-tracking p-2 inline-block hover:opacity-70"
        data-event-category="Header"
        data-event-action="Social"
        data-event-label="Facebook"
        data-event-non-interaction="true"
        title="Facebook {{@site.facebook}}"
        aria-label="Facebook {{@site.facebook}}"
        href="{{facebook_url}}"
        target="_blank"
        rel="noopener noreferrer">
        <svg class="icon icon--facebook"><use xlink:href="#icon-facebook"></use></svg>
    </a>
    {{/if}}

    {{#if @site.twitter}}
    <a class="godo-tracking p-2 inline-block hover:opacity-70"
        data-event-category="Header"
        data-event-action="Social"
        data-event-label="Twitter"
        data-event-non-interaction="true"
        title="Twitter {{@site.twitter}}"
        aria-label="Twitter {{@site.twitter}}"
        href="{{twitter_url}}"
        target="_blank"
        rel="noopener noreferrer">
        <svg class="icon icon--twitter"><use xlink:href="#icon-twitter"></use></svg>
    </a>
    {{/if}}

    <a class="godo-tracking p-2 inline-block hover:opacity-70"
        data-event-category="Header"
        data-event-action="Social"
        data-event-label="GitHub"
        data-event-non-interaction="true"
        title="GitHub @mgrove36"
        aria-label="GitHub @mgrove36"
        href="https://github.com/mgrove36"
        target="_blank"
        rel="noopener noreferrer">
        <svg class="icon icon--github"><use xlink:href="#icon-github"></use></svg>
    </a>

    <a class="godo-tracking p-2 inline-block hover:opacity-70"
        data-event-category="Header"
        data-event-action="Social"
        data-event-label="LinkedIn"
        data-event-non-interaction="true"
        title="LinkedIn @mgrove36"
        aria-label="LinkedIn @mgrove36"
        href="https://linkedin.com/in/mgrove36"
        target="_blank"
        rel="noopener noreferrer">
        <svg class="icon icon--linkedin"><use xlink:href="#icon-linkedin"></use></svg>
    </a>

    <a class="godo-tracking p-2 inline-block hover:opacity-70"
        data-event-category="Header"
        data-event-action="Social"
        data-event-label="Spotify"
        data-event-non-interaction="true"
        title="Spotify @mgrove36"
        aria-label="Spotify @mgrove36"
        href="https://open.spotify.com/user/mgrove36"
        target="_blank"
        rel="noopener noreferrer">
        <svg class="icon icon--spotify"><use xlink:href="#icon-spotify"></use></svg>
    </a>

    <a class="godo-tracking p-2 inline-block hover:opacity-70"
        data-event-category="Header"
        data-event-action="Social"
        data-event-label="Telegram"
        data-event-non-interaction="true"
        title="Telegram @mgrove36"
        aria-label="Telegram @mgrove36"
        href="https://t.me/mgrove36"
        target="_blank"
        rel="noopener noreferrer">
        <svg class="icon icon--telegram"><use xlink:href="#icon-telegram"></use></svg>
    </a>
</div>